:root {
    --dark-color: rgba(46, 238, 245, 0.5);
    --medium-color: #333;
    --light-color: rgba(17, 95, 27, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansita Swashed', cursive;
    font-size: 1rem;
    line-height: 1.7;
    color: var(--light-color);
    padding: 2rem;
}

.Header {
    height: 90vh;
    background-image: linear-gradient(to bottom right, var(--light-color), var(--dark-color)), url("../img/pexels-martin-damboldt-814499.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

.text-box {
    position: absolute;
    top: 40%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 5rem;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.6rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

